In [4]:

import pandas as pd
import scipy.stats as stats

In [ ]:
#H0:

In [5]:
df = pd.read_csv("arsenic.csv")
df

     Metro Phoenix  x1      Rural Arizona  x2
0          Phoenix   3            Rimrock  48
1         Chandler   7           Goodyear  44
2          Gilbert  25          New River  40
3         Glendale  10    Apache Junction  38
4             Mesa  15            Buckeye  33
5  Paradise Valley   6            Nogales  21
6           Peoria  12  Black Canyon City  20
7       Scottsdale  25             Sedona  12
8            Tempe  15             Payson   1
9         Sun City   7        Casa Grande  18

In [6]:
df.x1.mean()    # ortalamaları

12.5

In [7]:
df.x2.mean()

27.5

In [8]:
stats.ttest_ind(df.x1, df.x2)

Ttest_indResult(statistic=-2.7669395785560553, pvalue=0.012704425122128032)

In [9]:
indTest = stats.ttest_ind(df.x1, df.x2)

In [10]:
indTest.statistic

-2.7669395785560553

In [12]:
indTest.pvalue

0.012704425122128032

In [13]:
alpha = 0.05                         ### tamamı yorum ; şehir bölgesi ile kırsal bçlgenin arasında anlamlılık farkı yoktur, fakat 0.05 alfa yı onun için aldık 
if indTest.pvalue < alpha:
    print("Reject the Null")         ##öyleyse %95 doğrulukla reject the null diyoruz. %5 hata olabilir. yani % 5 reject the null olmama ihtimali var diyebilir miyiz
else:
    print("Fail to reject")

Reject the Null

In [14]:
prozac = pd.read_csv("prozac.csv")
prozac

   moodpre  moodpost  difference
0        3         5           2
1        0         1           1
2        6         5          -1
3        7         7           0
4        4        10           6
5        3         9           6
6        2         7           5
7        1        11          10
8        4         8           4

prozac tedavisi etkilimi değilmi ona bakıcaz

In [15]:
stats.ttest_rel(prozac.moodpost, prozac.moodpre, alternative='greater')

Ttest_relResult(statistic=3.1428571428571423, pvalue=0.006872912197394246)

In [16]:
stats.ttest_rel(prozac.moodpre, prozac.moodpost, alternative='less')

Ttest_relResult(statistic=-3.1428571428571423, pvalue=0.006872912197394246)

In [17]:
student = pd.read_csv("students_2014.csv")
student

,ids,bday,enrolldate,expgradate,Rank,Major,Gender,Athlete,Height,Weight,Smoking,Sprint,MileMinDur,English,Reading,Math,Writing,State,LiveOnCampus,HowCommute,CommuteTime,SleepTime,StudyTime
0,43783,3/22/1995,,,,,0,0,72.35,,0,7.978,,88.24,81.5,60.02,81.44,In state,1,,,7,1
1,20278,1/1/1995,,,,Philosophy,0,0,70.66,179.2,0,8.004,0:06:21,89.45,85.25,70.19,73.27,,1,,,5,2
2,20389,12/31/1994,,,,,0,0,70.68,198.52,0,,0:07:00,96.73,86.88,71.2,84.24,In state,,,,8,7
3,22820,12/1/1994,,,,business administration,1,0,,198.34,,8.473,0:12:44,74.06,88.68,55.89,73.16,In state,1,,,2,6
4,24559,11/10/1994,,,,,1,1,67.43,128.17,2,,0:06:25,82.61,77.3,65.52,80.45,Out of state,1,,,7,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
430,34021,7/18/1987,1-Aug-2011,08-May-2017,4,accounting,1,0,,,0,,0:12:55,87.72,84.99,65.31,,In state,0,1,18,1,10
431,40697,4/29/1987,1-Aug-2011,09-May-2016,4,,0,0,68.5,131.92,0,9.125,0:08:33,91.01,86.87,70.25,82.67,In state,0,3,26,6,15
432,34272,,1-Aug-2011,09-May-2016,4,nursing,0,1,68.1,130.07,0,,,81.05,85.76,58.16,81.87,,0,3,29,6,10
433,33628,,1-Aug-2011,08-May-2017,4,Nursing,1,1,69.27,157.26,2,6.905,0:08:26,75.59,85.97,66.84,79.35,In state,0,1,14,4,10
434,39298,,1-Aug-2011,08-May-2017,4,,1,1,66.68,152.33,1,6.233,0:07:13,75.65,77.24,60.24,75.23,In state,0,3,27,2,10

In [18]:
student.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 435 entries, 0 to 434
Data columns (total 23 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ids           435 non-null    int64
 1   bday          435 non-null    object
 2   enrolldate    435 non-null    object
 3   expgradate    435 non-null    object
 4   Rank          435 non-null    object
 5   Major         434 non-null    object
 6   Gender        435 non-null    object
 7   Athlete       435 non-null    int64
 8   Height        435 non-null    object
 9   Weight        435 non-null    object
 10  Smoking       435 non-null    object
 11  Sprint        435 non-null    object
 12  MileMinDur    435 non-null    object
 13  English       435 non-null    object
 14  Reading       435 non-null    object
 15  Math          435 non-null    object
 16  Writing       435 non-null    object
 17  State         435 non-null    object
 18  LiveOnCampus  435 non-null    object
 19  HowCommute    435 non-null    object
 20  CommuteTime   435 non-null    object
 21  SleepTime     435 non-null    object
 22  StudyTime     435 non-null    object
dtypes: int64(2), object(21)
memory usage: 78.3+ KB

In [20]:
student["Smoking"] = pd.to_numeric(student["Smoking"], errors="coerce")

In [21]:
student["Sprint"] = pd.to_numeric(student["Sprint"], errors="coerce")

In [26]:
student = student[["Sprint", "Smoking"]].dropna()

In [25]:
stats.f_oneway(student[student["Smoking"]==0]["Sprint"], student[student["Smoking"]==1]["Sprint"], student[student["Smoking"]==2]["Sprint"])

F_onewayResult(statistic=9.208599845380919, pvalue=0.00012659768158159465)

In [ ]:
student = student[["Sprint", "Smoking"]].dropna()

In [27]:
student.groupby("Smoking").mean()

           Sprint
Smoking
0.0      6.411487
1.0      6.835333
2.0      7.120915

In [28]:
import statsmodels.api as sm

In [29]:
from statsmodels.formula.api import ols

In [30]:
mod = ols("Sprint ~ C(Smoking)", data=student).fit()

In [31]:
sm.stats.anova_lm(mod, typ=1)

               df      sum_sq    mean_sq       F    PR(>F)
C(Smoking)    2.0   26.788189  13.394095  9.2086  0.000127
Residual    350.0  509.082077   1.454520     NaN       NaN